<!doctype html>

<html>
    
    <head>
        <title>EzraTutorial</title>
        
         <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,900" rel="stylesheet">  <!--  font-family: 'Nunito', sans-serif;   -->
    </head>
    
    <!-- Body -->
    
        
    <body>
        <!-- Nav -->
        
        <div>
        
        {% if name %}
            <h1><marquee>Hello, {{ name }} </marquee></h1>
            
        {% else %}
            
            <h1>Hello World!</h1>
        
        {% endif %}
        
        </div>
        
        
        <!-- card 1 -->
        
        <!-- card 2-->
        
        <!-- footer -->
        
        
    </body>
    
    
</html>