<!doctype html>
<html>
    <head>
        <title>Home</title>
        
         <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,900" rel="stylesheet">  <!--  font-family: 'Nunito', sans-serif;   -->
    </head>
    
    <body>
        <center>
        <form action="/create/" method="Post">
            User Name: <input type="text" name="user_name"><br>
            Post Title: <input type="text" name="title"><br>
            Post Body: <input type="text" name="text"><br>
            <input type ="submit" value="Post">
        </form>
        </center>
    </body>
</html>
